body{
  background-color: black;
}
input[type="submit"]{
  color: white;
  margin-left: 1rem;
  width: 50px;
  padding: .3rem;
  background-color: black;
  border: 1px solid black;
  outline: none;
}
input[type="text"]{
  width: 20%;
  border: 1px solid #2C3539;
  font-size: .6rem;
  padding: .4rem;
  border-radius: 4px;
  margin-right: .6rem;
}
label{
  color: white;
}
form{
  width: 50%;
  height: 10%;
  padding: 1rem;
  background-color: #2C3539;
  border-radius: 10px;
  margin: 0 auto;
}